html, body, main {
    height: 100vh;
}

.root {
    background-color: #f8bbd1;
    margin: 0;
    padding: 0;
}
header {
    min-width: 100%;
    position: relative;
    background-color: #ff96ae;
    display: flex;
    justify-content: center;
    margin: 0;
}

header h3 {
    color: #f5f5f5;
    text-align: center;
}

header nav ul {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 960px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffdbef;
    border-radius: 10px;
    
    
}

li {
    margin: 0;
    padding: 0;

}

a {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin: 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid #e5536d;
    margin: 50px auto 0 auto;
    width: 600px;
}

th {
    border: 1px solid #e5536d;
}

td {
    border: 1px solid #e5536d;
}

footer {
    min-width: 100%;
    background-color: rgb(255, 142, 180);
    color: #f5f5f5;
    margin: 0;
    position: relative;
    top: 0;
    margin-top: 400px;
    
}

.nav-item-wraper {
    display: inline-block;
    margin: 10px;
}

.nav-item {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.25s ease;
    
}

.logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}


#aInText {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.imgHref {
    width: 200px;
    height: 200px;
    display: block;
}

.forms {
    max-width: 255px;
    padding: 10px;
    border: 1px solid rgb(243, 173, 197);
    border-radius: 10px;
    background-color: rgb(141, 208, 241);
    margin: auto auto;
}

.forms input, select, textarea {
    font-size: 16px;
    margin: 1px;
    background-color: white;
    border-radius: 5px;
    max-width: 250px;

}

.chet-item {
    background-color: rgb(246, 133, 175);
}

#bottom {
    background-color: transparent;
}

