.root {
    background-color: #f4b6cd;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    background-color: rgb(248, 143, 161);
    margin: 0 0 5px 0;
    color: #f5f5f5;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: rgb(255, 142, 180);
    color: #f5f5f5;
    margin: 0;
    position: relative;
    top: 20px;
}

nav {
    display: block;
    min-width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 5px auto;
    background-color: #ffdbef;
    padding: 5px;
    border-radius: 10px;
}

li {
    margin: 30px;
}

a {
    font-size: 16px;
}

main ol li {
    padding: 10px;
    margin: 5px;

}

p {
    font-size: 20px;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    border: 3px solid #e5536d;
    margin: 50px auto;
    width: 95%;
    
}

th {
    border: 1px solid #e5536d;
    font-size: small;
    
}

td {
    border: 1px solid #e5536d;
    font-size: small;
    
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-wraper {
    width: 100%;
}

.nav-wraper {
    margin: 0;
    padding: 0;
}

.nav-item-wraper {
    display: block;
    text-align: center;
}

.nav-item {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.25s ease;
}

.nav-item:hover {
    color: white;
    transition: 0.25s ease;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius:70% ;
}

.name-project {
    margin: 20px;;
}

.main-section1 {
    display: flex;
    flex-direction: column;
}


.first-table {
    order: -1;
}

#aInText {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.imgHref {
    width: 200px;
    height: 200px;
    display: block;
}

.forms {
    max-width: 255px;
    padding: 10px;
    border: 1px solid rgb(243, 173, 197);
    border-radius: 10px;
    background-color: rgb(141, 208, 241);
    margin: auto auto;
}

.forms input, select, textarea {
    font-size: 20px;
    margin: 2px;
    background-color: #f3b3d4;
    border-radius: 5px;
    max-width: 90%;

}

.chet-item {
    background-color: rgb(246, 133, 175);
}

@media all and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: center;
    }

    a {
        font-size: 20px;
    }

    .header-wraper {
        width: 960px;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
    }

    .nav-item-wraper {
        display: inline-block;
        margin: 10px;
    }

    .first-table {
        order: 1;
    }

    .forms {
        min-width: 255px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .head {
        justify-content: left;
        width: 30%;
    }

    .front-block {
        border-radius: 30px;
    }

    table {
        width: 80%;
        font-size: small;
    }
}
