html {
    height: 100%;
}

.root {
    background-color: rgb(71, 67, 68);
    margin: 0;
    padding: 0;
}

header {
    background-color:#e588a9 ;
    box-shadow: 5px 0 1px rgb(233, 217, 217);
    color: #f5f5f5;
}

footer {
    width: 100%;
    display: flex;
    background-color: #e588a9;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius:70% ;
    margin-right: 25px;
}

.fb {
    border: 3px solid #474542;
    border-radius: 35px;
    background: rgb(223, 126, 160);
    box-shadow: 0 0 1px rgb(244, 168, 168);
    overflow: hidden;
}

#pop-up {
    background-color: rgba(89, 87, 88, 0.881);
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}